@{
    Layout = "_CustomLayout";
}
@section styles{
    <link rel="Stylesheet" type="text/css" href="/css/customCss.css" asp-append-version="true" />
}
<div class="error">
    <h1> شما به این صفحه دسترسی ندارید.</h1>
</div>
